@font-face {
  font-family: Iosevka_Reg;
  src: url("../assets/fonts/sgr-iosevka-regular.ttc");
}
@font-face {
  font-family: Iosevka_Bold;
  src: url("../assets/fonts/sgr-iosevka-bold.ttc");
}
@font-face {
  font-family: Iosevka_Heavy;
  src: url("../assets/fonts/sgr-iosevka-heavy.ttc");
}
@font-face {
  font-family: Iosevka_Light;
  src: url("../assets/fonts/sgr-iosevka-light.ttc");
}
@font-face {
  font-family: Iosevka_Thin;
  src: url("../assets/fonts/sgr-iosevka-thin.ttc");
}
html, body {
  height: 100%;
  background: rgb(147, 198, 231);
  background: linear-gradient(-30deg, rgb(147, 198, 231) 0%, rgb(196, 223, 223) 100%);
  background-attachment: fixed;
}

.container {
  position: relative;
}

.cards {
  grid-template-columns: auto auto auto auto auto auto;
}

.card {
  grid-column: span 2;
  height: 30vh;
  position: relative;
  text-align: center;
}

#IGB200 {
  display: block;
}
#IGB200 .card-bg {
  background-image: url("../assets/IGB200.png");
}

#IGB383 .card-bg {
  background-image: url("../assets/IGB383.png");
}

#CAB401 .card-bg {
  background-image: url("../assets/CAB401.png");
}

#CAB201 {
  grid-column: span 3;
}
#CAB201 .card-bg {
  background-image: url("../assets/CAB201.png");
}

#CAB301 {
  grid-column: span 3;
}
#CAB301 .card-bg {
  background-image: url("../assets/CAB301.png");
}
