@font-face {
  font-family: Iosevka_Reg;
  src: url("../assets/fonts/sgr-iosevka-regular.ttc");
}
@font-face {
  font-family: Iosevka_Bold;
  src: url("../assets/fonts/sgr-iosevka-bold.ttc");
}
@font-face {
  font-family: Iosevka_Heavy;
  src: url("../assets/fonts/sgr-iosevka-heavy.ttc");
}
@font-face {
  font-family: Iosevka_Light;
  src: url("../assets/fonts/sgr-iosevka-light.ttc");
}
@font-face {
  font-family: Iosevka_Thin;
  src: url("../assets/fonts/sgr-iosevka-thin.ttc");
}

$font-regular: Iosevka_Reg !default;
$font-bold: Iosevka_Bold !default;
$font-heavy: Iosevka_Heavy !default;
$font-light: Iosevka_Light !default;
$font-thin: Iosevka_Thin !default;

$bg-colour: #bb9ba5 !default;
$primary-colour: #111111 !default;
$secondary-colour: #333333 !default;
$light-colour: #eeeeee !default;
$opaque-light: rgba(238, 238, 238, 0.5) !default;

$link-colour: #f3c6f2 !default;
$link-visited-colour: #8d90e2 !default;