@import "variables.scss";

html, body {
  height: 100%;
  background: rgb(147,198,231);
  background: linear-gradient(-30deg, rgba(147,198,231,1) 0%, rgba(196,223,223,1) 100%);
  // background-size: 100% 200%;
}

.container {
  position: relative;
}

.cards {
  // display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  // gap: 50px;
}

.card {
  grid-column: span 2;
  height: 30vh;
  position: relative;
  text-align: center;
}

#IGB200 {
  .card-bg {
    background-image: url("../assets/IGB200.png");
  }
}
#IGB383 {
  .card-bg {
    background-image: url("../assets/IGB383.png");
  }
}
#CAB401 {
  .card-bg {
    background-image: url("../assets/CAB401.png");
  }
}
#CAB201 {
  .card-bg {
    background-image: url("../assets/CAB201.png");
  }
  grid-column: span 3;
}
#CAB301 {
  .card-bg {
    background-image: url("../assets/CAB301.png");
  }
  grid-column: span 3;
}