@import "tailwindcss";


:root {
  --primary: #eee;
  --secondary: #ccc;
  --background: #050505;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-overpass-mono);
}

h1 {
  padding-top: 16px;
  font-family: var(--font-overpass);
  font-size: 4em;
}

h2 {
  font-family: var(--font-overpass-mono);
  font-size: 2em;
}

a, p {
  font-size: 1em;
}

a {
  font-weight: bold;
}

p {
  padding-bottom: 4px;
}