@import "tailwindcss";


:root {
  --primary: #eee;
  --secondary: #ccc;
  --background: #050505;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #111;
    --secondary: #333;
    --background: #eee;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-overpass-mono);
}

h1 {
  font-family: var(--font-overpass);
  font-size: 4em;
}

h2 {
  font-family: var(--font-overpass-mono);
  font-size: 2em;
}

a, p {
  font-size: 1em;
}
