@import "tailwindcss";


:root {
  --background: #111;
  --foreground: #eee;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eee;
    --foreground: #111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-overpass-mono);
}

h1 {
  font-family: var(--font-overpass);
  font-size: 4em;
}

h2 {
  font-family: var(--font-overpass-mono);
  font-size: 2em;
}

a, p {
  font-size: 1em;
}
